{% extends 'base.html' %}
{% block body %}

<div class="container text-center">
    <div class="row">
      <div class="col-md-4 about-col">
        <div class="row about-row about-img"></div>
        <div class="row about-row">row2_col1</div>
        <div class="row about-row">row3_col1</div>
      </div>
      <div class="col-md-4 about-col">
        <div class="row about-row">row1_col2</div>
        <div class="row about-row">row2_col2</div>
        <div class="row about-row">row3_col2</div>
      </div>
      <div class="col-md-4 about-col">
        <div class="row about-row">row1_col3</div>
        <div class="row about-row">row2_col3</div>
        <div class="row about-row">row3_col3</div>
      </div>
    </div>
  </div>
{% endblock %}