{% extends 'base.html' %}
{% block body %}
<div class = "mx-auto w-[300px] sm:w-[600px] lg:w-[900px] xl:w-[1200px]">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
    <div class="h-[300px] w-[300px] border-4 hover:border-rose-600 bg-indigo-500">01</div>
    <div class="h-[300px] w-[300px] border-4 hover:border-rose-600 bg-indigo-500">01</div>
    <div class="h-[300px] w-[300px] border-4 hover:border-rose-600 bg-indigo-500">01</div>
    <div class="h-[300px] w-[300px] border-4 hover:border-rose-600 bg-indigo-500">01</div>
    <div class="h-[300px] w-[300px] border-4 hover:border-rose-600 bg-indigo-500">01</div>
    <div class="h-[300px] w-[300px] border-4 hover:border-rose-600 bg-indigo-500">01</div>
    <div class="h-[300px] w-[300px] border-4 hover:border-rose-600 bg-indigo-500">01</div>
    <div class="h-[300px] w-[300px] border-4 hover:border-rose-600 bg-indigo-500">01</div>
    <div class="h-[300px] w-[300px] border-4 hover:border-rose-600 bg-indigo-500">01</div>
    <div class="h-[300px] w-[300px] border-4 hover:border-rose-600 bg-indigo-500">01</div>
    <div class="h-[300px] w-[300px] border-4 hover:border-rose-600 bg-indigo-500">01</div>
    <div class="h-[300px] w-[300px] border-4 hover:border-rose-600 bg-indigo-500">01</div>
    <div class="h-[300px] w-[300px] border-4 hover:border-rose-600 bg-indigo-500">01</div>
    <div class="h-[300px] w-[300px] border-4 hover:border-rose-600 bg-indigo-500">01</div>
  </div>
</div>

{% endblock %}
